{{extend 'mylayout.html'}}
<div flex>
  <md-content flex layout-fill layout="column" ng-cloak="" class="body-color">
    <div class="" layout-padding>
      <span class="md-title" flex>{{=T(response.moduleTitle)}}</span>  
    </div>

    <div flex style="margin:10px;" layout="column">
      <md-card name="emailDetail">
        <!-- <md-toolbar class="md-warn"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-title" flex>{{=T("EMail")}}</span>
          </md-card-title-text>
        </md-card-title>
        <!-- </md-toolbar> -->
        <!-- <md-dialog-content> -->
        <md-card-content class="md-dialog-content" layout="column" flex>
          <div layout='row' flex>
            <div flex layout-padding>{{=form_email}}</div>
            <div flex layout-padding>{{=LOAD('default', 'assignemaillist.load', vars=dict(assign_id=assign_id), ajax=True)}}</div>
          </div>
        </md-card-content>
        <!-- </md-dialog-content> -->
      </md-card>

      <md-divider></md-divider>

      <md-card name="deviceDetail">
        <!-- <md-toolbar class="md-warn"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-title" flex>{{=T("Device")}}</span>
          </md-card-title-text>
        </md-card-title>
        <!-- </md-toolbar> -->
        <!-- <md-dialog-content> -->
        <md-card-content class="md-dialog-content" layout="column" flex>
            <div layout='row' flex>
              <div flex layout-padding>{{=form_device}}</div>
              <div flex layout-padding>{{=LOAD('default', 'assigndetaillist.load', vars=dict(assign_id=assign_id), ajax=True)}}</div>
            </div>
        </md-card-content>
        <!-- </md-dialog-content> -->
      </md-card>
      <md-divider></md-divider>

      <md-card name="softwareDetail">
        <!-- <md-toolbar class="md-warn"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-title" flex>{{=T("Software")}}</span>
          </md-card-title-text>
        </md-card-title>
        <!-- </md-toolbar> -->
        <!-- <md-dialog-content> -->
        <md-card-content class="md-dialog-content" layout="column" flex>
            <div layout='row' flex>
              <div flex layout-padding>{{=form_app}}</div>
              <div flex layout-padding>{{=LOAD('default', 'assignapplist.load', vars=dict(assign_id=assign_id), ajax=True)}}</div>
            </div>
        </md-card-content>
        <!-- </md-dialog-content> -->
      </md-card>

      <md-card name="accessoriesDetail">
        <!-- <md-toolbar class="md-warn"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-title" flex>{{=T("Accessories")}}</span>
          </md-card-title-text>
        </md-card-title>
        <!-- </md-toolbar> -->
        <!-- <md-dialog-content> -->
        <md-card-content class="md-dialog-content" layout="column" flex>
          <div layout='row' flex>
            <div flex>{{=form_accessories}}</div>
            <div flex>{{=LOAD('default', 'assignaccessorieslist.load', vars=dict(assign_id=assign_id), ajax=True)}}</div>
          </div>
        </md-card-content>
        <!-- </md-dialog-content> -->
      </md-card>

      <md-divider></md-divider>

      <md-card name="simDetail">
        <!-- <md-toolbar class="md-warn"> -->
        <md-card-title>
          <md-card-title-text>
            <span class="md-title" flex>{{=T("SIM")}}</span>
          </md-card-title-text>
        </md-card-title>
        <!-- </md-toolbar> -->
        <!-- <md-dialog-content> -->
        <md-card-content class="md-dialog-content" layout="column" flex>
          <div layout='row' flex>
            <div flex layout-padding>{{=form_sim}}</div>
            <div flex layout-padding>{{=LOAD('default', 'assignsimlist.load', vars=dict(assign_id=assign_id), ajax=True)}}</div>
          </div>
        </md-card-content>
        <!-- </md-dialog-content> -->
      </md-card>


    </div>
  </md-content>
</div>
