{{extend 'mylayout.html'}}
<div flex>
<md-content flex layout-fill  layout="column" ng-cloak="" class="body-color">
    <div flex style="margin:10px;" layout="column">
        <div flex>
            <label class="md-title" layout-padding style="color:red;">{{=response.moduleTitle}} List</label>
        </div>
        <md-card name="productDetail" ng-show="brand_detail_show">
        {{=form.custom.begin}}
          <!-- <md-toolbar class="md-warn"> -->
            <md-card-title>
              <md-card-title-text>
                <span class="md-title" flex>{{=response.moduleTitle}}</span>
              </md-card-title-text>
            </md-card-title>
          <!-- </md-toolbar> -->
          <!-- <md-dialog-content> -->
            <md-card-content class="md-dialog-content" layout="column" flex>
              <md-input-container class="md-block md-subheader" flex>
                <label>Name</label>
                <input  name="name">
              </md-input-container>
              <md-checkbox aria-label="brand_active" ng-active="true" name="is_active" type="checkbox">
                Active
              </md-checkbox>
            </md-card-content>
          <!-- </md-dialog-content> -->
            <md-card-actions layout="row">
              <span flex>&nbsp;</span>
              <md-button ng-click="hide_brand_detail()">Cancel</md-button>
              <md-button class="md-primary" type="submit">Save</md-button>
            </md-card-actions>
            {{=form.custom.end}}
        </md-card>
        <div style="height:1%;">&nbsp;</div>
        <div class="" flex layout="row">
            <md-checkbox style="margin:15px;" aria-label="select_all" ng-model="cbValue.cbselect_all">
                Select All
            </md-checkbox>
            <span flex>&nbsp;</span>
            <md-button class="md-raised md-warn" ng-click="show_brand_detail()">Add New</md-button>
            <md-button class="md-raised" ng-show="cbValue.cbselect_edit">Delete</md-button>
        </div>
        <md-content flex class="body-color rounded-block" layout="column">
            {{for row in data:}}
            <div>
                <md-card layout="row" layout-align="start center">

                    <md-checkbox class="margin-fifteen" aria-label="{{=row.name}}"></md-checkbox>
                    <md-button layout-fill layout-align="center center" ng-value="name" >{{=row.name}}</md-button>
                    <md-button ng-value="item.product_statusbool" >{{=row.is_active}}</md-button>
                </md-card>
            </div>
            {{pass}}
        </md-content>
    </div>
</md-content>
</div>
