{{extend 'mylayout.html'}}
<!-- <div flex layout="column" ng-cloak="" class="dark-body-color"> -->
    <div flex style="margin:10px;" layout="column" class="body-color">
        <md-card name="productDetail">
          <!-- <md-toolbar class="md-warn"> -->
            <md-card-title>
              <md-card-title-text>
                <span class="md-title" flex>{{=T(response.moduleTitle)}}</span>
              </md-card-title-text>
            </md-card-title>
          <!-- </md-toolbar> -->
          <!-- <md-dialog-content> -->
            <md-card-content class="md-dialog-content" layout="column" flex>
                <div flex>{{=form_device}}</div>
            </md-card-content>
          <!-- </md-dialog-content> -->
        </md-card>
    </div>
<!-- </div> -->

<script type="text/javascript">
    var dcode = {{=XML(dcode)}};
    $('#device_device_type_id').change(function() {
        var device = $('#device_name').val();
        var device_arr = device.length > 0 ? device.split('-') : '';
        var selected_loc = $('#device_device_type_id').val();
        for (var i = 0; i < dcode.length; i++) {
            if (selected_loc == dcode[i]['id']) {
                if (device_arr.length > 1) {
                    $('#device_name').val(dcode[i]['device_code'] + '-' + device_arr[1] + '-' + device_arr[2]);
                } else {
                    if (device.length > 0) {
                        $('#device_name').val(dcode[i]['device_code'] + '-' + device);
                    } else {
                        $('#device_name').val(dcode[i]['device_code'] + '-');
                    }

                }
            }
        }
    });
    $('#device_device_model_id').change(function() {
        var device = $('#device_name').val();
        var device_arr = device.length > 0 ? device.split('-') : '';
        if (device_arr.length > 1) {
            $('#device_name').val($('#device_device_model_id :selected').text() + '-' + device_arr[1]);
        } else {
            $('#device_name').val($('#device_device_model_id :selected').text() + '-');
        }
    });
</script>
